*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5f5f5;
    color:#222;
}

header{
    background:#111;
    color:white;
    position:sticky;
    top:0;
    width:100%;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#FFD700;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin:0 15px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

.nav-links a:hover{
    color:#FFD700;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('../images/hero.jpg');
    background-size:cover;
    background-position:center;
    color:white;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:#FFD700;
    color:black;
    text-decoration:none;
    border-radius:50px;
    font-weight:bold;
    margin:10px;
}

.btn:hover{
    background:white;
}
